<%- include("./Partials/head.ejs") %>
<div style="background-image: url(https://img.freepik.com/premium-photo/shadowy-figure-hacking-into-computer-representing-scammer-action-copy-space_1298745-12356.jpg?ga=GA1.2.1712318188.1724608355&semt=ais_hybrid);
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 91vh;
    height: auto;
    width:100%;">
<div style="display: flex; flex-direction: column; align-items: center;">
    <h1>Oops!! No page found</h1>
    <a href="/">Back to home</a>
</div>
</div>
<%- include("./Partials/footer.ejs") %>