<%- include("./Partials/head.ejs") %>
<div class="bgforms">
<div class="forms">
<h1> Reset Password </h1>
<form action="/reset" method="post">
      <input type="hidden" name="userId" value="<%= userId %>">
      <div class="mb-3">
        <label for="newpassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newpassword" name="newpassword">
      </div>
      <div class="mb-3">
        <p>Please enter you new Password again</p>
      </div>
      <div class="mb-3">
        <label for="newpassword1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newpassword1" name="newpassword1">
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      
</form>
</div>
</div>
<%- include("./Partials/footer.ejs") %>